@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* { 
  margin: 0;
  padding: 0;
}
html {
  font-family: 'VT323', monospace;
}

.workspace {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}